/*App Styles*/
@font-face {
  font-family: "Jello-Stone";
  src: url("/fonts/jello-stone-font/JelloStone-YqKz8.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
}

html {
  height: 100%;
  overflow: hidden;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* For Chromium-based browsers */
/* Hide scrollbar for Chrome, Edge, Safari, Opera */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE */
body {
  -ms-overflow-style: none;
}

button {
  cursor: pointer;
}

.jello-stone {
  font-family: "Jello-Stone", sans-serif;
  font-optical-sizing: auto;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.glassmorph {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 200px));
  grid-template-rows: repeat(3, auto);
  width: 100%;
  justify-content: space-between;
  gap: min(3vh, 20px) min(5vw, 40px); /* row-gap column-gap */
}

.item {
  width: 100%;
  aspect-ratio: 1/1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .users-color-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .users-color-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.blurred-img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  background-color: white;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.activity-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 150px);
  column-gap: 10px;
  row-gap: 10px;
}

.app-container {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 10px;
  height: 100%;
}

.app-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    transparent,
    transparent,
    rgba(3, 3, 185, 0.5)
  );
  border-radius: 10px;
  transition: all 0.6s linear;
}

.app-container:hover .overlay {
  opacity: 0;
}

.overlay p {
  margin-bottom: 8px;
  margin-right: 10px;
  color: #fff;
}

.img-0 {
  grid-area: 1 / 1 / 2 / 2;
}

.img-1 {
  grid-area: 2 / 1 / 3 / 2;
}

.img-2 {
  grid-area: 1 / 2 / 3 / 4;
}

.img-3 {
  grid-area: 1 / 4 / 2 / 5;
}

.img-4 {
  grid-area: 1 / 5 / 2 / 6;
}

.img-5 {
  grid-area: 2 / 4 / 3 / 6;
}

/* Medium screens */
@media (max-width: 1150px) {
  .activity-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
  }

  .img-0 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .img-1 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .img-2 {
    grid-area: 1 / 3 / 3 / 4;
  }

  .img-3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .img-4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .img-5 {
    grid-area: 3 / 1 / 4 / 3;
  }
}

/* Small screens */
@media (max-width: 910px) {
  .activity-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 150px);
  }

  .img-0 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .img-1 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .img-2 {
    grid-area: 2 / 1 / 4 / 3;
  }

  .img-3 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .img-4 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .img-5 {
    grid-area: 5 / 1 / 6 / 3;
  }
}

/* Very small screens */
@media (max-width: 600px) {
  .activity-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 150px);
  }

  .img-0 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .img-1 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .img-2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .img-3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .img-4 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .img-5 {
    grid-area: 3 / 2 / 4 / 3;
  }
}

/* Carousel styles */
.card-grid > *:nth-child(4) {
  transform: scale(1.14);
  z-index: 3;
}

.card-grid > :not(:nth-child(4)) {
  filter: blur(2px);
  backdrop-filter: brightness(95%);
}

.card-grid > :is(:nth-child(3), :nth-child(5)) {
  transform: scale(1.08);
  z-index: 2;
}

.card-grid > :is(:nth-child(2), :nth-child(6)) {
  transform: scale(1.05);
  z-index: 1;
}

/* .index * {
    view-timeline-name: "body-animation";
    animation: slide-fade-in both;
    animation-timeline: "body-animation";
    animation-range: contain 0% contain 50%;
  }
@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .logoCard {
    animation: none;
  }
}
.logoCard {
  transform-origin: center;
  animation-name: zoomIn;
  animation-fill-mode: forwards;
  animation-timeline: view();
  animation-timing-function: linear;
  animation-range: entry;
  animation-composition: add;
}
@keyframes zoomIn {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
}

.section {
  height: 100vh;
  padding: 50px;
  position: relative;
  width: 100%;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
  padding: 100px 50px;
}

.landing-text {
  position: relative;
  top: 0;
  margin-bottom: 2%;
  width: 95%;
}

.hold {
  height: 100vh;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resize {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #00a29a;
  will-change: transform;
}
